<div class="flex my-5 gap-x-11 justify-center items-center">
  <button
    (click)="decrement()"
    type="button"
    class="rounded bg-indigo-500 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
  >
    Decrement
  </button>
  <div class="text-2xl">{{ count$ | async }}</div>
  <button
    (click)="increment()"
    type="button"
    class="rounded bg-indigo-500 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
  >
    Increment
  </button>
</div>
<div class="flex my-5 gap-x-11 justify-center items-center">
  <button
    (click)="reset()"
    type="button"
    class="rounded bg-indigo-500 px-2 py-1 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500"
  >
    Reset
  </button>
</div>
